/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */


/** Thin */
@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("./font/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("./font/sanfranciscodisplay-regular-webfont.woff");
}


/** Semi Bold */
@font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("./font/sanfranciscodisplay-semibold-webfont.woff");
}
